.cartListContainer{
    background-color: blue;
    color: white;
    position: relative;
    height: fit-content;
    width: 30%;
    top: 30px;
    right: 0;
}
.item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}