.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 12rem;
}
.navList{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
