.navbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.nav{
    width: 250px;
}
.navList{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
